{% extends "main_layout.html" %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <h4>About gusty.bike..</h4>
                <p>
                    gusty.bike is a website for programmers who love to bicycle. <br />
                    gusty.bike is a website for bicyclists who love to program <br />
                    The website chronicles adventures in bicycling, programming, guitar playing, international relations, story telling, and fun.
                </p>
            </div>
            <div class="col-md-4">
                <h4>Contact & Social Media</h4>
                <p>
                    Reach me by email at <a href="mailto:ecooper@umw.edu">ecooper@umw.edu</a>! <br />
                    Follow me on <a href="twitter.com/#">Twitter</a> <br />
                </p>
            </div>
        </div>
    </div>
{% endblock %}
