{% extends "main_layout.html" %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <h4>About gusty.bike..</h4>
                <p>
                    gusty.bike is a website for programmers who love to bicycle. <br />
                    gusty.bike is a website for bicyclists who love to program <br />
                    The website chronicles adventures in bicycling, programming, guitar playing, international relations, story telling, and fun.
                </p>
            </div>
            <div class="col-md-4">
                <h4>Contact & Social Media</h4>
                <p>
                    Reach me by email at <a href="mailto:ecooper@umw.edu">ecooper@umw.edu</a>! <br />
                    Follow me on <a href="twitter.com/#">Twitter</a> <br />
                </p>
                <iframe src="https://calendar.google.com/calendar/embed?showPrint=0&amp;height=400&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=en.usa%23holiday%40group.v.calendar.google.com&amp;color=%23125A12&amp;ctz=America%2FNew_York" style="border-width:0" width="600" height="400" frameborder="0" scrolling="no"></iframe>

            </div>
        </div>
    </div>


{% endblock %}
