{% extends "admin_layout.html" %}

{% block content %}
    <style>
        .footer {
            bottom: 0;
        }
    </style>
    <script>

    </script>
    <div class="container-fluid" style="padding-left: 2%; padding-right: 1%;">
        <h2>Add a new Post</h2>
        <div class="row">
            <div class="col-md-6">
                <form class="form-horizontal" method="post" id="postForm">
                    <div class="form-group">
                        <label for="newPostTitle" class="col-md-4 col-form-label">Title</label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" id="newPostTitle" placeholder="Title of Post">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="newPostBody" class="col-md-4 col-form-label">Content</label>
                        <div class="col-md-6">
                            <textarea type="text" class="form-control" id="newPostBody" placeholder="What's on your mind?"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="newPostImage" class="col-md-4 col-form-label">Slider Image</label>
                        <div class="col-md-8">
                            <input type="file" class="form-control-file" id="newPostImage">
                        </div>
                    </div>
                    <div class="col-md-2"></div>
                    <div class="col-md-10">
                        <div class="row">
                            <div class="col-md-4">
                                <button type="button" class="btn btn-link" onclick="window.location='/admin'" style="margin-left: -5%; font-size: 15px;">Return to Admin Panel</button>
                            </div>
                            <div class="col-md-3">
                                <button type="button" class="btn btn-info float-right" id="addNewPost">Create Post</button>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </form>
            </div>
            <div class="col-md-6">
                <label class="col-md-4 col-form-label">Preview</label>
                <img id="postPreview" class="img-fluid" />
            </div>
        </div>
    </div>
{% endblock %}
