{% extends "main_layout.html" %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <h4>Available Programming Contests</h4>
                <div class="col-md-12">
                    <div class="card" style="margin-bottom: 3%;">
                        <div class="card-body">
                            <h5 class="card-title">Example Programming Contest #3</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Begins in <small>x hours</small></h6>
                            <div class="card-text" style="min-height: 76px;">
                                This is an example description of what sort of tasks someone may need to complete during the contest.
                                This may also detail what sort of rewards are up for grabs as well
                            </div>
                            <a href="/contests/view/#" class="card-link">View Details</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <h4>Past Programming Contests</h4>
                <div class="col-md-12">
                    <div class="card" style="margin-bottom: 3%;">
                        <div class="card-body">
                            <h5 class="card-title">Example Programming Contest #2</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Ended <small>x days ago</small></h6>
                            <div class="card-text" style="min-height: 76px;">
                                This is an example description of what sort of tasks someone may need to complete during the contest.
                                This may also detail what sort of rewards are up for grabs as well
                            </div>
                            <a href="/contests/view/#" class="card-link">View Details</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card" style="margin-bottom: 3%;">
                        <div class="card-body">
                            <h5 class="card-title">Example Programming Contest #1</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Ended <small>x days ago</small></h6>
                            <div class="card-text" style="min-height: 76px;">
                                This is an example description of what sort of tasks someone may need to complete during the contest.
                                This may also detail what sort of rewards are up for grabs as well
                            </div>
                            <a href="/contests/view/#" class="card-link">View Details</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
